* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(0, 0, 0);

  width: 100vw;
  /* height: 60px; */
  position: fixed;
  top: 0;
  border: 1px solid white;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
}

nav ul li {
  list-style-type: none;
  padding: 15px;
  transition: 0.5s;
}
nav ul li a {
  text-decoration: none;
  padding: 5px;
  color: rgb(255, 255, 255);
}
nav ul li:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: translateY(5px) scale(1.05);
}
nav ul li a:hover {
  color: black;
}

.box {
  font-size: 20px;
  margin-top: 10px;
  color: beige;
  height: 50px;
  display: inline-block;
  margin-left: 209px;
}

body {
  color: blueviolet;
  background-color: black;
}

p {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  background-color: beige;
}
.starry {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.block1 {
  overflow: auto;
  margin-top: 70px;
}
.para1 {
  /* margin-right: 5px;
        margin-left: 10px; */
  margin-bottom: 10px;
  background-color: rgb(45, 84, 189);
  padding: 10px;
}

.scream {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 10px;
}
.block2 {
  overflow: auto;
  padding: 5px;
}
.para2 {
  /* margin-left: 5px;
        margin-bottom: 10px; */
  background-color: orangered;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .block1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 84, 189);
    margin-bottom:10px ;
  }
.block2{
    display: flex;
    flex-direction: column;
    background-color: orangered;
}
main{
    margin-top: 245px;
}
}

